// _01-settings.responsive.scss
// XXS 0px
$T_BKP_XXS: 0;
$T_CONTAINER_XXS: 100%;

// XS 312px
$T_BKP_XS: 312px;
$T_CONTAINER_XS: calc(100% - 48px); // 312px

// SM 600px
$T_BKP_SM: 600px;
$T_CONTAINER_SM: calc(100% - 48px); // 568px

// MD 768px
$T_BKP_MD: 768px;
$T_CONTAINER_MD: calc(100% - 48px); // 688px

// LG 1024px
$T_BKP_LG: 1024px;
$T_CONTAINER_LG: 944px;

// XL 1280px
$T_BKP_XL: 1280px;
$T_CONTAINER_XL: 1200px;

// XXL 1600px
$T_BKP_XXL: 1600px;
$T_CONTAINER_XXL: 1320px;
