// _01-settings.spacing.scss

// Do you need/want to learn about spacing Tokens/Design System?
// https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// https://jdrf.design/visual-style/space.html

/**
  * NAME OF SPACES (each name can have different value)

  // _QUARCK
  // _NANO
  // _XXXS
  // _XXS
  // _XS
  // _SM
  // _MD
  // _LG
  // _XL
  // _XXL
  // _XXL
  // _XXXL
  // _HUGE
  // _GIANT

*/

// TOKENS - Spacing Variables for Design System

// NOTE: if you want to use a variable inside calc(), should use #{$VARIABLE}, ex: calc(100vw - #{$T_SPACE_INSET_XXL})

@use "sass:math";

$spacing-base-size: 4px;
$sbz: $spacing-base-size; // A small variable :)

// Space : Inset
$T_SPACE_INSET_NONE: 0;
$T_SPACE_INSET_QUARCK: math.div($sbz, 2); // 2px
$T_SPACE_INSET_NANO: $sbz * 1; // 4px
$T_SPACE_INSET_XS: $sbz * 2; // 8px
$T_SPACE_INSET_SM: $sbz * 3; // 12px
$T_SPACE_INSET_MD: $sbz * 4; // 16px
$T_SPACE_INSET_LG: $sbz * 6; // 24px
$T_SPACE_INSET_XL: $sbz * 8; // 32px
$T_SPACE_INSET_XXL: $sbz * 10; // 40px
$T_SPACE_INSET_XXXL: $sbz * 12; // 48px
$T_SPACE_INSET_HUGE: $sbz * 13; // 52px

// Space : Inset Squish
$T_SPACE_INSET_SQUISH_QUARCK: math.div($sbz, 2) ($sbz * 1); // 2px 4px
$T_SPACE_INSET_SQUISH_NANO: ($sbz * 1) ($sbz * 2); // 4px 8px
$T_SPACE_INSET_SQUISH_XS: ($sbz * 2) ($sbz * 4); // 8px 16px
$T_SPACE_INSET_SQUISH_SM: ($sbz * 4) ($sbz * 6); // 16px 24px
$T_SPACE_INSET_SQUISH_MD: ($sbz * 4) ($sbz * 8); // 16px 32px
$T_SPACE_INSET_SQUISH_LG: ($sbz * 6) ($sbz * 12); // 24px 48px

// Space : Inset Stretch
$T_SPACE_INSET_STRETCH_1: ($sbz * 6) ($sbz * 4); // 24px 16px

// Space : Stack
$T_SPACE_STACK_QUARCK: math.div($sbz, 2); // 2px
$T_SPACE_STACK_NANO: $sbz * 1; // 4px
$T_SPACE_STACK_XXXS: $sbz * 2; // 8px
$T_SPACE_STACK_XXS: $sbz * 3; // 12px
$T_SPACE_STACK_XS: $sbz * 4; // 16px
$T_SPACE_STACK_SM: $sbz * 6; // 24px
$T_SPACE_STACK_MD: $sbz * 8; // 32px
$T_SPACE_STACK_LG: $sbz * 10; // 40px
$T_SPACE_STACK_XL: $sbz * 12; // 48px
$T_SPACE_STACK_XXL: $sbz * 14; // 56px
$T_SPACE_STACK_XXXL: $sbz * 16; // 64px
$T_SPACE_STACK_HUGE: $sbz * 18; // 72px
$T_SPACE_STACK_GIANT: $sbz * 20; // 80px

// Space : Inline
$T_SPACE_INLINE_QUARCK: math.div($sbz, 2); // 2px
$T_SPACE_INLINE_NANO: $sbz * 1; // 4px
$T_SPACE_INLINE_XS: $sbz * 2; // 8px
$T_SPACE_INLINE_SM: $sbz * 3; // 12px
$T_SPACE_INLINE_MD: $sbz * 4; // 16px
$T_SPACE_INLINE_LG: $sbz * 6; // 24px
$T_SPACE_INLINE_XL: $sbz * 8; // 32px
$T_SPACE_INLINE_XXL: $sbz * 10; // 40px
$T_SPACE_INLINE_XXL: $sbz * 12; // 48px
