// _01-settings.colors.scss

$brand-primary-color: #33e0a1;
$brand-secondary-color: #272425;

$brand-color-01: #272425;
$brand-color-02: #f7efed;
$brand-color-03: #33e0a1;

$white-color-full: #ffffff;
$black-color-full: #000000;

$text-color-01: #333333;
$text-color-02: #263238;
$text-color-03: #828282;

$gray-color-01: #333333;
$gray-color-02: #4f4f4f;
$gray-color-03: #828282;
$gray-color-04: #bdbdbd;
$gray-color-05: #e0e0e0;
$gray-color-06: #f2f2f2;
$gray-color-07: #f4f9f9;

// ALERTS
$alert-primary-bg: #cce5ff;
$alert-primary-color: #004085;
$alert-primary-border: #b8daff;

$alert-secondary-bg: #e2e3e5;
$alert-secondary-color: #383d41;
$alert-secondary-border: #d6d8db;

$alert-success-bg: #d4edda;
$alert-success-color: #155724;
$alert-success-border: #c3e6cb;

$alert-danger-bg: #f8d7da;
$alert-danger-color: #721c24;
$alert-danger-border: #f5c6cb;

$alert-warning-bg: #fff3cd;
$alert-warning-color: #856404;
$alert-warning-border: #ffeeba;

$alert-info-bg: #d1ecf1;
$alert-info-color: #0c5460;
$alert-info-border: #bee5eb;

$alert-light-bg: #fefefe;
$alert-light-color: #818182;
$alert-light-border: #fdfdfe;

$alert-dark-bg: #d6d8d9;
$alert-dark-color: #1b1e21;
$alert-dark-border: #c6c8ca;
