// _01-settings.typography.scss

// Import Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Import Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Import Playball - (display font)
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

// Font Family
$T_FONT_FAMILY_01: "Poppins";
$T_FONT_FAMILY_02: "Roboto";
$T_FONT_FAMILY_03: "Playball";

// Font Weights
$T_FONT_WEIGHT_THIN: 100;
$T_FONT_WEIGHT_EXTRALIGHT: 200;
$T_FONT_WEIGHT_LIGHT: 300;
$T_FONT_WEIGHT_REGULAR: 400;
$T_FONT_WEIGHT_MEDIUM: 500;
$T_FONT_WEIGHT_SEMIBOLD: 600;
$T_FONT_WEIGHT_BOLD: 700;
$T_FONT_WEIGHT_EXTRABOLD: 800;
$T_FONT_WEIGHT_BLACK: 900;

// Font Sizes
$T_FONT_SIZE_XXXS: 12px;
$T_FONT_SIZE_XXS: 14px;
$T_FONT_SIZE_XS: 16px;
$T_FONT_SIZE_SM: 20px;
$T_FONT_SIZE_MD: 24px;
$T_FONT_SIZE_LG: 32px;
$T_FONT_SIZE_XL: 40px;
$T_FONT_SIZE_XXL: 48px;
$T_FONT_SIZE_XXXL: 64px;
$T_FONT_SIZE_DISPLAY: 80px;
$T_FONT_SIZE_GIANT: 96px;

// Line height
$T_LINE_HEIGHT_TIGHT: 100%;
$T_LINE_HEIGHT_MEDIUM: 120%;
$T_LINE_HEIGHT_DISTANT: 150%;
